
.listings-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.1rem;
    height: 90%;
    min-width: 96%;
    padding-bottom: 5rem;
    margin-top:5rem;
  

 
    .listing {

            padding: .5rem;       
            border-radius: 0.2rem;
            text-transform: capitalize;
            font-size: smaller;
            font-weight: 100;
            padding-top: 0;

            .card {
            
                    width: 200px;
                    height: 400px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    margin-bottom: .5rem;
                    flex-basis: 25%;
                font-family: 'Noto Serif', serif;
            
                    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
                        rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
           
                        .card-body {
                            overflow-y: hidden;
                            background-color: #a6b3f5;
   
                 .card-top{

                    .btn-primary {
                        margin-top: auto;
                        margin-bottom: 0;
            
            
                    }
            
                    .card-details {
                        height: 100px;
                        overflow-y: hidden;
                        
                        .desc {
                                max-height: 100px;
                                font-weight: 1rem;
                                color: red;
                        
                            }
            
                        .small {
                            margin-top: auto;
                            margin-bottom: 1rem;
                        }
            
                        .fa-solid {
                            color: $grey;
                            padding-right: .5rem;
            
            
                        }
            
                        .fa-pen {
                            font-size: .8rem;
                        }
                    }
            
                }  
               
                }

                }
        }
       
}

.card-heading {
/* max-width: 70%; */
text-align: left;

.seller-info {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
a {
    border-bottom: 2px solid #414040;
}

    .profile-avatar {
        width: 50px;
        height: 30px;
        border-radius: 5px;
       
    }
}
}
.home-listings-container {

    width: 90vw;

    .hero-listings {
   
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;


   
}
}

.listing-image {
    margin-top: auto;
    width: 200px;
    height: 200px;
    margin-bottom: 1rem;
    overflow-y: hidden;
    position: relative;

  /* .img-counter {
    color: #fefefe;
    padding: 1rem;
    font-size: 1rem;
    background: #000;
    border-radius: 50%;
    position: absolute;
    width: 40px;
    height: 40px;
    bottom: 10%;
    right:10%;
  } */
.dots {
    width: 30%;
    height: 20px;
    background: rgba(0, 0, 0, .5);
  border-radius: 10px;
    position: absolute;
    bottom: 0;
    left:50%;
    transform: translate(-50%, -10%);
    display: flex;
    align-items: center;
    justify-content: center;
    gap:.5rem;
    .dot {
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: #fff;

    }
}

    img {

        min-width: 100%;
        min-height: 100%;
      
        object-fit: cover;

    }
}
        .card-title {
           
            font-size: 1.5rem;
            font-weight: bold;
            text-transform: uppercase;
        font-family: 'Fjalla One', sans-serif;
        }




.card-details {


                   .listing-info {
                    margin-bottom: 1rem;
                        
                    .listing-update {
                       border-left: 2px solid #414040;
                        padding:1rem 2rem;
                            p {
                                color: #414040;
                                width: 100%;
                                font-size: 1rem;
                                font-family: 'Noto Serif', serif;
                                font-weight: 400;
                                text-transform: capitalize;
                                border-bottom: 1px solid black;
                                padding-bottom: 1rem;
                                a {
                                    font-size: .8rem;
                                    font-weight: 300;
                                   
                                }
                            }
                        }
                    .bids-number {
                                  margin-left: 1rem;
                                }
                       .seller-info {
                           width: 100%;
                           display: flex;
                           align-items: center;
                           justify-content: left;
                          

                           .profile-avatar {
                            width: 50px;
                            height: 30px;
                            border-radius: 5px;
                           }
                       
                           /* .avatar {
                            .btn-avatar {
                                 width: 50px;
                            height: 43px;
                            margin-left: .6rem;
                            padding-bottom: 0;
                                .seller-avatar {
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                                border-radius: 50%;
                            } 
                            }
                           
                           
                           } */
                       }
                   }
}

      