
.listings-container , .most-wanted, .recent-added{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.1rem;
    height: 90%;
    min-width: 96%;
  /*   padding-bottom: 5rem; */
   /*  margin-top:5rem; */
  

 
    .listing {

        
            padding: 0;   
            border-radius: 0.2rem;
            text-transform: capitalize;
            font-size: smaller;
            font-weight: 100;
            padding-top: 0;
           

            .card {
                  
                    width: 200px;
                    height: 300px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    margin-bottom: .5rem;
                    flex-basis: 25%;
                     font-family: 'Noto Serif', serif;
                    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
                        rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
                        outline: 2px solid red;
           
                        .card-body {
                            overflow-y: hidden;
                            background-color: #0d29b6;
                    
                           
   
         .card-top{

                    .btn-primary {
                        margin-top: auto;
                        margin-bottom: 0;
            
            
                    }
            
                    .card-details {
                        height: 100px;
                        overflow-y: hidden;
                        color: $white;
                        small {
                            margin-top: auto;
                            margin-bottom: 1rem;
                            color: small ;
                            color: $whity;
                        }
            
                        .fa-solid {
                            color: $grey;
                            padding-right: .5rem;
                            color: $whity;
            
            
                        }
            
                        .fa-pen {
                            font-size: .8rem;
                        }
                    }
            
                }  
               
                }

                }
        }
                        .listing-card {
                           
                            padding:1rem;
                            width: 220px;
                            max-width: 230px;
                            border-radius: 5px;
                            transition: .4s;
                           box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
                           box-shadow: rgba(215, 215, 215, 0.090) 0px 0px 0px 1px;
                           color: $whity;
                        &:hover {
                            transform: scale(1.020);
                            transform-origin: center;
                            background-color: rgba(143, 137, 137, .5);
                        }
                     .btn-primary {
                        background-color: $btn-primary;
                     }
                    }

}

.card-heading {
/* max-width: 70%; */
text-align: left;

.seller-info {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
a {
    border-bottom: 2px solid #414040;
}

    .profile-avatar {
        width: 50px;
        height: 30px;
        border-radius: 5px;
       
    }
}
}
.home-listings-container {

    width: 90vw;

    .hero-listings {
   
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;


   
}
}

.listing-image {
    margin-top: auto;
    width: 200px;
    height: 200px;
    margin-bottom: 1rem;
    overflow-y: hidden;
    position: relative;

.dots {
    width: 30%;
    height: 20px;
    background: rgba(0, 0, 0, .5);
    border-radius: 10px;
    position: absolute;
    bottom: 0;
    left:50%;
    transform: translate(-50%, -10%);
    display: flex;
    align-items: center;
    justify-content: center;
    gap:.5rem;

    .dot {
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: #fff;
        &:nth-of-type(2) {
            background: rgb(224, 224, 224);
        }

    }
}

    img {

        min-width: 100%;
        min-height: 100%;
  /*     width: 40%;
      height: 50%; */
        object-fit: cover;

    }
}

.card-title {
    font-size: .7rem;
    max-width: 80%;
    line-height: .8rem;
    height: 50px;
    position: relative;
    text-transform: uppercase;
    border-bottom: 2px solid #777777;
 
 

}
    





      