
@include mediaMd {

.listings-container {
    width: 96%;
   flex-direction: row;
   flex-wrap: wrap;


     .card {
        min-width: 40%;
      flex-basis: 1;
  
        
        }
    }
            #registerForm {
              min-width: 70vw;
              border-top: 1px solid $bg-grey;
            }
}

 